@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    border-radius: 4px;
    cursor: pointer !important;
    height: 6px;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 100%, 0.12);
    border-radius: 4px;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background: #2c2d31;
    border-radius: 0;
}
